@tailwind base;
@tailwind components;
@tailwind utilities;

/* for Swiper */
.swiper-slide {
  width: 32%;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: #003f63;
}

.overflowHidden {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Projects */
.projects-list {
  display: flex;
  grid-gap: 2rem;
  justify-content: space-around;
  flex-wrap: wrap;
}
.projects-list--item {
  width: 47%;
}
@media only screen and (max-width: 600px) {
  .projects-list {
    display: block;
  }
  .projects-list--item {
    width: 100%;
    margin: 2rem 0 0;
  }
  .projects-list--item:first-child {
    margin: 0;
  }
}
