@tailwind base;
@tailwind components;
@tailwind utilities;

/* for Swiper */
.swiper-slide {
  width: 32%;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: #003f63;
}

.overflowHidden {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Projects */
.projects-list {
  display: grid;
  grid-template-columns: 40vw 40vw;
  gap: 6rem;
}
.projects-list--item {
  width: 40vw;
}
